<main class="container-fluid px-0 fondoPt py-4">
        <div class="container my-5">
            <h1 class="text-light text-center pb-3">Postulación a un Aviso Laboral</h1>
            <div class="card my-3 mx-3 p-3" style="border-radius: 10px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-8 col-md mb-1">
                            <h3 class="font-weight-bold">{{aviso.puesto}}<h1>
                            <h4>{{aviso.empresa_name}}</h4>
                            <p class="card-text py-1 my-0"><img src="/assets/icon/ubicacion.png" style="height: 20px;"> {{aviso.pais}}</p>
                            <p class="card-text py-1 my-0"><img src="/assets/icon/rango.png" style="height: 20px;"> {{aviso.rango}}</p>
                            <p class="my-1" style="display: inline-block;">Fecha de publicación: {{timeago aviso.created_at}} |</p>
                            <p class="my-1" style="display: inline-block;">Estado: {{aviso.estado}}</p>
                        </div>
                        
                        <div class="col-lg-4 col-md text-center mt-1">
                            <h5>URL de su CV</h5>
                            <form action="/persona/postular/{{aviso.id}}" class="formulario" id="formulario" method="POST" >
                                <div id= "grupo__cv" class="form-group col-md-12">
                                    <input type="link" class="form-control disabled" name="cv" id="cv" placeholder="Ingrese el link del CV (Google Drive)" required>
                                </div>
                                <button id = "enviar" type="btn" class="btn-enviar btn mb-2 px-4" style="background-color: #0A1D42; color:white;" disabled>Enviar</button>
                            </form>
                            <a href="/persona/filtro/{{aviso.id}}" class="text-dark"><p>Regresar</p></a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <h4 class="mt-3">Descripción del aviso laboral</h4>
                            <textarea class="form-control rounded-0" rows="20" style="border: none;" disabled>{{aviso.descripcion}}</textarea>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
</main>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('navbar').innerHTML = '<img src="/assets/LOGO_Mesa de trabajo 1.png" width="30" height="30" class="d-inline-block align-top" alt=""> Pet’s Work | Persona';
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('navbar').innerHTML = '<img src="/assets/LOGO_Mesa de trabajo 1.png" width="30" height="30" class="d-inline-block align-top" alt=""> Pet’s Work | Persona';
    });
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementsByClassName("nav-item")[1].innerHTML = '<li class="nav-item dropdown"><a class="nav-link dropdown-toggle ingresar p-0 mt-1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/icon/perfil.png" style="height: 30px;"></a><div class="dropdown-menu" aria-labelledby="navbarDropdown"><a class="dropdown-item" href="/persona/editar/{{user.id}}">Editar perfil</a><div class="dropdown-divider"></div><a class="dropdown-item" href="/salir">Cerrar Sesión</a></div></li>';
    });
</script>

<script>
    const formulario = document.getElementById('formulario');
    const inputs = document.querySelectorAll('#formulario input');

    const expresiones = {
        url: /^https?:\/\/[drive.google.com]+[/file/#?]?.*$/
    }
    //   d[].g[].c
    const validarFormulario = (e) =>{
        var BtnEnviar = $('.btn-enviar');
        switch (e.target.name){
            case "cv":
                if(expresiones.url.test(e.target.value)){
                    document.getElementById('grupo__cv').classList.remove('formulario__grupo-incorrecto');
                    document.getElementById('grupo__cv').classList.add('formulario__grupo-correcto');
                    BtnEnviar.removeClass('disabled');
                    document.getElementById("enviar").removeAttribute("disabled")

                }else{
                    document.getElementById('grupo__cv').classList.add('formulario__grupo-incorrecto');
                    BtnEnviar.addClass('disabled');
                    document.getElementById("enviar").setAttribute("disabled", "")
                }

                break;
            default:
                break;
        }
    };
    inputs.forEach((input)=>{
        input.addEventListener('keyup',validarFormulario);
        input.addEventListener('blur',validarFormulario);
    });    
</script>